html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1REM = 10 pixeles*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  /*Interlineado*/
  line-height: 2;
  margin: 0 auto;
}

/*Header*/
.grad-bg {
  width: 100%;
  background-image: url("/assets/img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  max-width: 120rem;
}

.Opc {
  display: flex;
  padding: 2.5rem 0;
  align-items: center;
  justify-content: space-between;
}

.nav-rg {
  display: flex;
  align-items: center;
}

.Search {
  cursor: pointer;
}

.Sign {
  text-decoration: none;
  color: #000;
  margin: 1rem;
}

.GetS {
  background-color: black;
  color: #fff;
  width: 15rem;
  padding: 1.5rem 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
}

.fr {
  color: #808080;
  font-weight: 300;
}

.Menu {
  display: none;
}

/*Main*/
.Princ {
  width: 64rem;
  font-size: 5rem;
  font-weight: 700;
  margin: 0 auto;
}

.SubMen {
  width: 64rem;
  margin: 0 auto;
}

.SubMen p {
  font-weight: 500;
  color: #383838;
}

.Marg {
  line-height: 0;
}

.Code {
  width: 100%;
}

.bg-wht {
  background-color: white;
  width: 100%;
}

.text {
  display: grid;
  grid-template-columns: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 5rem;
  justify-items: end;
}

.Info {
  text-align: justify;
  line-height: 1.5;
}

.Info h1 {
  font-size: 3rem;
  font-weight: 700;
}

.Info p {
  font-weight: 500;
}

.Custom {
  width: 80%;
  float: left;
}

/*Footer*/
.Footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 120rem;
}

.Footer a {
  font-weight: 500;
  text-decoration: none;
  padding: 1.7rem;
  color: #000;
}

/* Vista Tablet */
@media only screen and (max-width: 1000px) {
  /*Header*/
  .grad-bg {
    width: 100%;
    background-image: url("/assets/img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Content {
    width: 80%;
    margin: 0 auto;
    max-width: 120rem;
  }

  .nav-rg {
    display: none;
  }

  .Menu {
    display: flex;
    cursor: pointer;
  }
  /* Main */
  .Princ {
    width: 80%;
    font-size: 4rem;
    font-weight: 700;
    margin: 0 auto;
  }

  .SubMen {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
  }

  .GetS {
    width: 100%;
    padding: 1.5rem 9rem;
    text-align: center;
  }

  .Marg {
    line-height: 0;
  }

  .text {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    grid-template-columns: none;
  }

  .Info {
    margin-top: -2rem;
  }

  .Info h1 {
    text-align: left;
  }

  .Info p {
    font-size: medium;
    font-weight: 500;
    text-align: left;
  }

  .Custom {
    width: 100%;
  }

  .Ord {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .GetS2 {
    padding: 1.5rem 1.2rem;
  }

  /*Footer*/
  .Footer {
    width: 80%;
    max-width: 120rem;
    display: block;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .Footer a {
    padding: 0;
    margin-right: 1rem;
  }
}
